* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-width: 1242px;
  color: #fff;
}

.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05)),
    url(image/content/background-content.jpg);
  background-size: cover;
}

/* navigation section */
nav {
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  padding-top: 2vh;
}

nav p {
  font-size: 26px;
  font-weight: bold;
  margin-left: 5%;
}

nav p a {
  text-decoration: none;
}

nav ul {
  display: flex;
  margin-left: 6%;
}

nav ul li {
  list-style-type: none;
  margin: 0 8%;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

nav ul li a:hover {
  color: rgba(227, 225, 225, 0.986);
  text-decoration: underline;
}

section {
  display: flex;
  height: 3.5vh;
  width: 25%;
  align-items: center;
  margin-right: 5%;
}

section div.search {
  width: 100%;
  height: 3.5vh;
  display: flex;
  margin-left: 35%;
}

section div input {
  border-radius: 5px;
  height: 4vh;
  padding: 5px 5px 5px 10px;
  color: #000;
}

section div input::placeholder {
  color: #000;
}

section div.search img {
  position: relative;
  left: -13%;
  top: 60%;
  transform: translateY(-50%);
  width: 18.5px;
  height: 18.5px;
}

section img {
  cursor: pointer;
}

header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding-top: 6vh;
}

/* content section */
.content {
  display: flex;
  height: 79vh;
  justify-content: center;
  align-items: center;
}

/* introduction section */
.isi {
  display: block;
  text-align: center;
  width: 40%;
  height: 60vh;
  margin-left: 3.7%;
}

.text {
  display: block;
  text-align: center;
  width: 80%;
  height: 60vh;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.164);
  border: 1px solid rgba(255, 255, 255, 0.433);
}

.deskripsi {
  margin-top: 4.7em;
  font-size: 16px;
}

.button {
  display: flex;
  position: relative;
  width: 40%;
  height: 40px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  left: 25%;
  margin: 3.6% 6% 6% 6%;
  border-radius: 40px;
  cursor: pointer;
}

.button a {
  color: #5f6f52;
}

.button:hover {
  background: rgba(213, 213, 213, 0.85);
}

.button a {
  text-decoration: none;
  font-weight: bold;
}

/* login form section */
.login {
  width: 40%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 80%;
  height: 60vh;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.164);
  border: 1px solid rgba(255, 255, 255, 0.433);
}

form {
  width: 75%;
  height: 110%;
  justify-content: center;
  align-items: center;
}

.wrapper h1 {
  margin: 5.5vh 0 3.25% 0;
  font-size: 28px;
  text-align: center;
}

.input-box {
  width: 100%;
  height: 35px;
  margin: 5vh 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 40px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: relative;
  left: 86.5%;
  top: -52%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.remember-forgot label input {
  width: 14px;
  height: 14px;
}

.remember-forgot a {
  text-decoration: none;
}

.remember-forgot a:hover {
  color: #bbbbbb;
}

.btn {
  display: flex;
  width: 100.5%;
  height: 35px;
  background: rgb(255, 255, 255);
  color: #5f6f52;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 40px 20px 20px;
  align-items: center;
  justify-content: center;
  margin: 4vh 0 2vh 0;
}

.btn:hover {
  background: rgba(213, 213, 213, 0.85);
}

.register-link {
  display: flex;
  justify-content: space-between;
}

.register-link p a {
  text-decoration: none;
}

.register-link p a:hover {
  color: #bbbbbb;
}

/* footer section */
footer {
  margin-bottom: 0;
  height: 5.5vh;
  background-color: #bd6022;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 5.5vh;
  margin: 0 5% 0 5%;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 14px;
}

.copyright i {
  margin-right: 10px;
}

.social-media {
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin: 0;
  align-items: center;
  gap: 8px;
  opacity: 0.8;
  margin-right: 18%;
}

.social-media a img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}

.social-media a img:hover {
  opacity: 80%;
}

/* @media screen */

/* @media screen and (min-width: 500px) {
  .banner {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(image/content/background-content.jpg);
    background-size: cover;
  }
} */
